{% extends 'ProyectoFinal/base.html' %}

{% load static %}

{% block title%}
	Iniciar sesión - SamiraB
{% endblock %}

{% block content %}

	<section id="intro">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
						<div class="intro animate-box">
							<h1>Iniciar Sesión</h1>
						</div>
					</div>
				</div>
			<div>
		</section>

		<main id="main">
			<div class="container">
				<div class="col-md-8 col-md-offset-2 animate-box">
					
					<form method="POST">
						{% csrf_token %}

						<div class="form-group row">
							<div class="col-md-6 field">
								<label for="firstname">Nombre</label>
								{{form.username}}
							</div>
							<div class="col-md-6 field">
								<label for="lastname">Apellido</label>
								{{form.password}}
							</div>
						</div>
						{{error}}
						<div class="form-group row">
							<div class="col-md-12 field">
								<input type="submit" id="submit" class="btn btn-primary" value="Enviar">
							</div>
						</div>
					</form>
				</div>
			</div>
		</main>

{% endblock %}