{% extends 'ProyectoFinal/base.html' %}

{% load static %}

{% block title%}
	stock - SamiraB
{% endblock %}

{% block content %}

		<section id="intro">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
						<div class="intro animate-box">
							<h1>Stock</h1>
							<h2>Bienvenido al banco de imagenes</h2>
							<p>Filtra por la categoria de tu preferencia</p>
						</div>
					</div>
				</div>
			<div>
		</section>
		
		<hr>
		<div class="container">
			<div class="form-group row">
				<div class="col-md-9 field">
					
				</div>
				<div class="col-md-3 field">
					<button><a href="{% url 'add_stock' %}">Agregar</a></button>
				</div>
			</div>
		</div>
		<hr>
		<ul>
			{% for items in object_list %}
			<a onclick="toggle({{items.id}});" />

			<div>
				<li>
					<h3>{{items.title}} - {{items.autor}}</h3>
					<div class="add" id='{{items.id}}' hidden>
						<p>{{items.description}}</p>
						<img src={{items.image.url}} width=300 height=200/>
					</div>
				</li>
			</div>


			{% endfor %}
		</ul>
		<script>
			let toggle = (itemId) => {
			let element = document.getElementById(itemId);
			let hidden = element.getAttribute("hidden");
		
			if (hidden) {
				element.removeAttribute("hidden");
			} else {
				element.setAttribute("hidden", "hidden");
			}
			}
		</script>
{% endblock content %}
