{% extends 'ProyectoFinal/base.html' %}

{% load static %}

{% block title%}
	stock - SamiraB
{% endblock %}

{% block content %}

		<section id="intro">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
						<div class="intro animate-box">
							<h1>Stock</h1>
							<h2>Bienvenido a mi banco de imagenes</h2>
							<p>Filtrar por la categoria de tu preferencia</p>
						</div>
					</div>
				</div>
			<div>
		</section>

		<form action="/stockSearch/" method="GET">
			{% csrf_token %}
			
			<div class="form-group row">
				<div class="col-md-12 field">
					<label for="category">Categoria</label>
					<input type='text' name='inputStock' id='inputStock' />
				</div>
				<div class="col-md-12 field">
					<input type="submit" id="submit" class="btn btn-primary" value="Enviar">
				</div>
			</div>
		</form>

		<section id="stock">
			<div class="container">
				<div class="row">
					<div class="col-md-4 animate-box">
						<div class="service">
							<h2>{{category}}</h2>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="service">
							<div class="service-icon">
								<i class="icon-drop2"></i>
							</div>
							<h2>Web Design &amp; UI</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="service">
							<div class="service-icon">
								<i class="icon-anchor"></i>
							</div>
							<h2>Development &amp; CMS</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
						</div>
					</div>

					<div class="col-md-4 animate-box">
						<div class="service">
							<div class="service-icon">
								<i class="icon-command"></i>
							</div>
							<h2>Brand Identity</h2>	
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="service">
							<div class="service-icon">
								<i class="icon-drop2"></i>
							</div>
							<h2>Web Design &amp; UI</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="service">
							<div class="service-icon">
								<i class="icon-anchor"></i>
							</div>
							<h2>Development &amp; CMS</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock content %}
