{% extends 'ProyectoFinal/base.html' %}

{% load static %}

{% block title%}
	Actualizar perfil - SamiraB
{% endblock %}

{% block content %}

	<section id="intro">
		<div class="container">
			<div class="row">
				<div class="intro animate-box">  
					<h1 >Actualizar perfil<h1> 
					<div class="row">
						<div class="col-md-3">
							<img class="img-circle" src="{{ user.profile.image.url }}" />
						</div>
						<div class="col-md-9">
							<p> Hola {{user.username}}! </p>
							<hr>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</section>

	<main id="main">
		<div class="container">
			<div class="col-md-8 col-md-offset-2 animate-box">
				
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}

					<div class="form-group row">
						<div class="col-md-6 field">
							<label for="firstname">Nombre</label>
							{{form.userName}}
						</div>
						<div class="col-md-6 field">
							<label for="lastname">Apellido</label>
							{{form.userLastname}}
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6 field">
							<label for="email">Correo</label>
							{{form.userEmail}}
						</div>
						<div class="col-md-6 field">
							<label for="phone">Telefono</label>
							{{form.userPhone}}
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-12 field">
							<label for="message">Sobre ti</label>
							{{form.about.as_textarea}}
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-12 field">
							<hr>
							<p><a href="{% url 'reset_password' %}">Reestablecer contraseña</a></p>
							<hr>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6 field">
							<label>Actualizar foto de perfil</label>
						</div>
						<div class="col-md-6 field">
							{{form.image}}
						</div>
					</div>
					<hr>
					<div class="form-group row">
						<div class="col-md-12 field">
							<input type="submit" id="save" class="btn btn-primary" value="Guardar">
						</div>
					</div>
				</form>

			</div>
		</div>
	</main>

{% endblock %}